<div id="card-information-benef">
  <span id="nome-benef">Carlos Johnantan da Rocha de Oliveira</span>
  <span id="profissao-benef">
    Técnico de Segurança do Trabalho
    <!-- <Icon className="ml-3 icon-edit-benef">edit</Icon> -->
  </span>

  <div className="flex">
    <span className="flex items-center mr-5 meta-benef">
      <!-- <Icon className="icon-edit-benef mr-2">email</Icon> -->
      cjohnantan@gmail.com
    </span>

    <span className="flex items-center meta-benef">
      <!-- <Icon className="icon-edit-benef mr-2">call</Icon> -->
      (85) 90000-0000
    </span>
  </div>

  <div className="flex mt-3">
    <span className="tag-info-benef">Não cumpre carências</span>
  </div>

  <div className="mt-5 infos-benef">
    <div className="flex">
      <span className="font-bold">Sexo:</span>
      <span className="ml-1">Masculino</span>
    </div>

    <div className="flex">
      <span className="font-bold">Data de nascimento:</span>
      <span className="ml-1">30 de Setembro de 1991 (28 anos)</span>
    </div>

    <div className="flex">
      <span className="font-bold">Estado Civil:</span>
      <span className="ml-1">Solteiro</span>
    </div>
  </div>

  <div className="mt-5 infos-benef">
    <div className="flex">
      <span className="titulo-topico-benef mb-3">DADOS DO PLANO</span>
    </div>

    <div className="flex">
      <span className="font-bold">Tipo de plano:</span>
      <span className="ml-1">Individual/Familiar</span>
    </div>

    <div className="flex">
      <span className="font-bold">Data de adesão:</span>
      <span className="ml-1">29 de Abril de 2014 (2215 dias)</span>
    </div>

    <div className="flex">
      <span className="font-bold">Status:</span>
      <span className="ml-1">Sem informação</span>
    </div>

    <div className="flex">
      <span className="font-bold">Classificação:</span>
      <span className="ml-1">E</span>
    </div>

    <div className="flex">
      <span className="font-bold">Sinistralidade:</span>
      <span className="ml-1"> 0,00%</span>
    </div>

    <div className="flex">
      <span className="font-bold">Plano:</span>
      <span className="ml-1">PREMIUM ENF IND/FAM A+H+OBST+ODO</span>
    </div>
  </div>
</div>
